<div class="staff-card-container panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="name-plate col-sm-12 text-right">
                <h4 class="name"><small ng-if="staffPerson.rank">{{staffPerson.rank}} </small>{{staffPerson.firstname}} {{staffPerson.lastname}}</h4>
                <div class="title">{{staffPerson.title}}</div>
                <div class="">{{staffPerson.department}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="staff-card-detail">
                    <h6>Contact</h6>
                    <ul class="fa-ul">
                        <li ng-if="staffPerson.phone"><span class="fa fa-phone fa-li"></span><a ng-href="tel:+1-205-{{staffPerson.phone}}">(205)-{{staffPerson.phone}}</a></li>
                        <li ng-if="staffPerson.fax"><span class="fa fa-fax fa-li"></span>{{staffPerson.fax}}</li>
                        <li ng-if="staffPerson.email"><span class="fa fa-envelope fa-li"></span><a href="mailto:{{staffPerson.email}}">{{staffPerson.email}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="staff-card-detail" ng-if="staffPerson.subjects">
                    <h6>Subject Expertise</h6>
                    <ul class="list-unstyled">
                        <li role="presentation" ng-repeat="subject in staffPerson.subjects | orderBy:subject.subject" ng-class="{'disabled': !subject.link}">
                            <a ng-href="{{subject.link}}" title="{{subject.subject}}" ng-if="subject.link">{{subject.subject}}</a>
                            <span title="{{subject.subject}}" ng-if="!subject.link">{{subject.subject}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>