<form class="facets-form">
    <div class="form-group">
        <h4>Filters</h4>
    </div>
    <div class="form-group">
        <div class="facet-group">
            <input class="form-control" id="directorySearch" name="directorySearch" type="text" ng-model="staffdir.facet.search" placeholder="Keyword Search..." ng-keyup="staffdir.changeFacet('search')"/>
        </div>
    </div>

    <div class="form-group">
        <h5>Sort by</h5>
        <div class="facet-group">
            <div class="btn-group btn-group-justified">
                <label class="btn btn-default" ng-model="staffdir.facet.sortBy" btn-radio="'lastname'" ng-change="staffdir.changeFacet('sortBy')">Last name</label>
                <label class="btn btn-default" ng-model="staffdir.facet.sortBy" btn-radio="'firstname'" ng-change="staffdir.changeFacet('sortBy')">First name</label>
            </div>
        </div>
    </div>

    <div class="form-group hidden-xs hidden-sm">
        <h5>Subject specialty</h5>

        <div class="facet-group">

            <select class="form-control" ng-model="staffdir.facet.subject" name="subject" ng-options="subject for subject in facets.subjects" ng-change="staffdir.changeFacet('subject')">
                <option value="">-- Select Subject --</option>
            </select>
            <label class="checkbox-inline">
                <input type="checkbox" id="selector" ng-true-value="1" ng-model="staffdir.facet.selector" ng-change="staffdir.changeFacet('selector')"> Selector
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="instructor" ng-true-value="2" ng-model="staffdir.facet.instructor" ng-change="staffdir.changeFacet('instructor')"> Instructor
            </label>
        </div>
    </div>

    <div class="form-group hidden-xs hidden-sm">
        <h5>Department</h5>
        <div class="facet-group">
            <select class="form-control" ng-model="staffdir.facet.department" name="department" ng-options="department for department in facets.departments" ng-change="staffdir.changeFacet('department')">
                <option value="">-- Select Department --</option>
            </select>
        </div>
    </div>

    <div class="form-group hidden-xs hidden-sm">
        <h5>Library</h5>
        <div class="facet-group">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="staffdir.facet.library" value="" ng-checked="!staffdir.facet.library" ng-change="staffdir.changeFacet('library')"> All
                </label>
            </div>
            <div class="radio" ng-repeat="library in facets.libraries">
                <label>
                    <input type="radio" ng-model="staffdir.facet.library" value="{{library}}" ng-change="staffdir.changeFacet('library')"> {{library}}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group hidden-xs hidden-sm">
        <button class="btn btn-primary btn-block" type="button" ng-click="staffdir.clearFacets()">
            <span class="fa fa-fw fa-refresh"></span> Reset Filters
        </button>
    </div>
</form>