<div class="page-header">
    <h1>Staff Directory</h1>
</div>


<div class="row staff-directory">
    <div class="col-md-3 col-md-push-9">
        <div class="staff-directory-facets" facets="staffdir.facets"></div>
    </div>
    <div class="col-md-9 col-md-pull-3">
        <div ng-show="facets.showFacetBar">
            <ol class="breadcrumb facetcrumb">
                <li ng-if="facets.facet.department"><strong>Department:</strong> <button type="button" class="btn btn-default" ng-click="facets.clearFacets('department')">{{facets.facet.department | truncate : 20 : '...'}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                <li ng-if="facets.facet.library"><strong>Library:</strong> <button type="button" class="btn btn-default" ng-click="facets.clearFacets('library')">{{facets.facet.library}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                <li ng-if="facets.facet.subject"><strong>Subject:</strong> <button type="button" class="btn btn-default" ng-click="facets.clearFacets('subject')">{{facets.facet.subject}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                <li ng-if="facets.facet.selector"><button type="button" class="btn btn-default" ng-click="facets.clearFacets('selector')">Selector <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                <li ng-if="facets.facet.instructor"><button type="button" class="btn btn-default" ng-click="facets.clearFacets('instructor')">Instructor <span class="text-muted" aria-hidden="true">&times;</span></button></li>

                <li class="pull-right"><button type="button" class="btn btn-primary btn-small reset-btn" title="Reset filters" ng-click="facets.clearFacets()"><i class="fa fa-refresh"></i></button></li>
            </ol>
        </div>
        <div class="staff-directory-listing" id="staff-directory-listing" list="staffdir.list" sort-by="lastname"></div>
    </div>
</div>



