<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>
                <a href="#"
                   ng-click="sortList($event, 'lastname')"
                   ng-class="{'sortable': !staffdir.sortReverse && staffdir.sortBy == 'lastname', 'sortable-reverse': staffdir.sortReverse && staffdir.sortBy == 'lastname'}">Name</a>
            </th>
            <th class="hidden-xs">
                <a href="#" 
                   ng-click="sortList($event, 'title')" 
                   ng-class="{'sortable': !staffdir.sortReverse && staffdir.sortBy == 'title', 'sortable-reverse': staffdir.sortReverse && staffdir.sortBy == 'title'}">Title</a>
            </th>
            <th class="hidden-xs">
                <a href="#" 
                   ng-click="sortList($event, 'department')" 
                   ng-class="{'sortable': !staffdir.sortReverse && staffdir.sortBy == 'department', 'sortable-reverse': staffdir.sortReverse && staffdir.sortBy == 'department'}">Department/Unit</a>
            </th>
            <th>Contact</th>
            <th class="hidden-xs hidden-sm">Specialty</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in filteredList = (list | filter:staffdir.facet.search | filter:staffdir.facet.subject:true | orderBy:staffdir.sortBy:staffdir.sortReverse) track by $index">
            <td class="text-nowrap">
                <div ng-if="person.rank" class="text-muted"> {{person.rank}}</div>
                <span ng-bind-html="person.firstname | highlight:staffdir.facet.search"></span> <strong ng-bind-html="person.lastname | highlight:staffdir.facet.search"></strong>

            </td>
            <td class="hidden-xs"><span ng-bind-html="person.title | highlight:staffdir.facet.search"></span></td>
            <td class="hidden-xs"><span ng-bind-html="person.department | highlight:staffdir.facet.search"></span></td>
            <td>
                <ul class="fa-ul">
                    <li ng-if="person.phone"><span class="fa fa-phone fa-li"></span>{{person.phone}}</li>
                    <li ng-if="person.fax"><span class="fa fa-fax fa-li"></span>{{person.fax}}</li>
                    <li ng-if="person.email"><span class="fa fa-envelope fa-li"></span> <a ng-href="mailto:{{person.email}}" title="Email {{person.firstname}} {{persone.lastname}}">{{person.email}}</a></li>
                </ul>
            </td>
            <td class="hidden-xs hidden-sm">
                <ul class="list-unstyled" ng-if="person.subjects">
                    <li ng-repeat="subject in person.subjects | orderBy:subject.subject">
                        <a ng-href="{{subject.link}}" title="{{subject.subject}}" ng-if="subject.link" ng-bind-html="subject.subject | highlight:staffdir.facet.search"></a>
                        <span ng-if="!subject.link" ng-bind-html="subject.subject | highlight:staffdir.facet.search">{{subject.subject}}</span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" role="alert" ng-show="filteredList.length === 0">
        <h2>
            No results<span ng-if="staffdir.facet.subject"><strong> for {{staffdir.facet.subject}}</strong> subject specialists</span>
            <span ng-if="staffdir.facet.search"> matching <strong>"{{staffdir.facet.search}}"</strong></span>
        </h2>
    </div>
</div>